body{
	font-family: Calibri light;
	margin: 0;
}
#wrapper {
	display:grid;
	height: 100vh;
	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: 72px 1fr 30px;
	grid-gap: 5px;
	
}
#venstre {
	grid-column: 1/2;
	grid-row: 1/4;
	
	
}

#oppe {
	grid-column: 2/3;
	grid-row: 1/2;
	background-color:grey;
	
}
#høyre {
	grid-column: 3/4;
	grid-row: 1/4;
	
	
}


#midt {
	grid-column: 2/3;
	grid-row: 2/3;
	background-color:lightblue;
	
}

#bunn {
	grid-column: 2/3;
	grid-row: 3/4;
	background-color:purple;
	
}